@tailwind base;
@tailwind components;


.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}





.text-shadow {
  text-shadow:
    0 0 5px #fff,
    0 0 6px #fff,
    0 0 7px #fff,
    0 0 8px #fff,
    0 0 9px #cacaca,
    0 0 10px #000,
    0 0 10px #1b1b1b,
    0 0 11px #4b4b4b,
    0 0 12px #444444,
    0 0 13px #1b1b1b,
    0 0 14px #222222,
    0 0 15px #111111,
}

@tailwind utilities;


/* horizontal centering */
.absolute-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* input search focus */
input:focus ~ span > svg {
  color: black;
}

/**
 * Toggle component
 */
[role="button"] ~ [data-menu-list] { display: none; }
[role="button"]:checked ~ [data-menu-list] { display: block; }

/* !! change focus style with Tailwind utilities !! */
[role="button"] + label { border: 2px solid transparent; }
[role="button"]:focus + label { border: 2px solid white; }




