@tailwind base;
@tailwind components;



@tailwind utilities;


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,600,700,800,900&display=swap');

.text-shadow {
    text-shadow:
        0 0 5px #fff,
        0 0 6px #fff,
        0 0 7px #fff,
        0 0 8px #fff,
        0 0 9px #cacaca,
        0 0 10px #000,
        0 0 10px #1b1b1b,
        0 0 11px #4b4b4b,
        0 0 12px #444444,
        0 0 13px #1b1b1b,
        0 0 14px #222222,
        0 0 15px #111111,
}





/* ScollMagic CSS */

scrollmagic-header {
    width: 100vw;
    min-height: 400px;
    height: 100vh;
    background: #03293c;
    color: white;
    font-weight: bold;
    text-align: left;
  }
  scrollmagic-header article {
    padding-left: 8.33333%;
    padding-right: 50%;
    width: 41.66667%;
    float: left;
    text-align: left;
  }
  scrollmagic-header article h1 {
    font-size: 9rem;
    margin: 0 0 2.5rem;
    line-height: 1em;
  }
  scrollmagic-header article p {
    font-size: 2rem;
  }
  
  .scrollmagic-btn {
    padding: 1rem 2rem;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 2rem;
  }
  .scrollmagic-btn--ghost {
    background: transparent;
    color: white;
    border: 1px solid #dfdfdf;
  }
  .scrollmagic-btn--ghost:hover {
    background: white;
    color: black;
  }
  
  .scrollmagic-section {
    width: 100vw;
    min-height: 400px;
    height: 100vh;
    color: white;
    padding-left: 16.66667%;
    padding-right: 16.66667%;
    box-sizing: border-box;
    position: relative;
  }
  .scrollmagic-section:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    content: "";
    font-size: 25.5rem;
  }
  .scrollmagic-section:nth-child(1) {
    background: #f44e57;
  }
  .scrollmagic-section:nth-child(1):before {
    content: "Chapter 01";
  }
  .scrollmagic-section:nth-child(2) {
    background: #1c2d35;
  }
  .scrollmagic-section:nth-child(2):before {
    content: "Chapter 02";
  }
  .scrollmagic-section:nth-child(3) {
    background: #686860;
  }
  .scrollmagic-section:nth-child(3):before {
    content: "Chapter 03";
  }
  .scrollmagic-section__left {
    width: 50%;
    float: left;
  }
  .scrollmagic-section__right {
    width: 50%;
    float: left;
  }
  .scrollmagic-section article {
    text-align: left;
  }
  .scrollmagic-section article h3 {
    font-size: 4.1rem;
  }
  .scrollmagic-section article p {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
